<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>come and see your faith(استفرالله) </h1>
    <br>
    <h2> its simple click and see what happens</h2>
    <br>
      
    <form action="/home" method="post">
        <input type = "text" name = "birth" placeholder = "give your birthdaty">
        <input type = "submit" value = "submit">
    </form>
</body>
</html>